@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
@layer components{
  .btn{
      @apply  hover:opacity-80 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }
  .input-feild{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 
  }
  .input-label{
    @apply block mb-2 text-sm font-medium text-gray-900 ;
  }
  .error-span{
    @apply block text-sm text-red-500 mt-1;
  }
  .submit-btn{
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ;
  }
  .title{
    font-family: 'Open Sans', sans-serif ;
    @apply text-4xl
  }
  .chip{
    @apply bg-gray-50 border border-gray-300 text-gray-900  p-2 
  }
}

.error-span::before {
  display: inline;
  content: "⚠ ";
  
}
.pac-container { z-index: 100000 !important; }
